# Python bytecode and envs
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Environment Secrets
.env
*.pem
*.key
